{% if daemon_terminattr is defined and daemon_terminattr is not none %}

## TerminAttr Daemon

### TerminAttr Daemon Summary

| CV Compression | Ingest gRPC URL | Ingest Authentication | Smash Excludes | Ingest Exclude | Ingest VRF  | AAA Disabled |
| --- | --- | --- | ---| --- | --- | --- |
{% for cluster in daemon_terminattr.clusters %}
| gzip | {{ cluster.cvaddrs | join(',') }} | {% if cluster.cvauth_key is arista.avd.defined %}key,{{cluster.cvauth_key }}{% elif cluster.cvauth_token_file is arista.avd.defined %}token,{{cluster.cvauth_token_file}}{% elif cluster.cvauth_token_secure_file is arista.avd.defined %}token-secure, {{cluster.cvauth_token_secure_file}}{% endif%} | {{ daemon_terminattr.smashexcludes }} | {{ daemon_terminattr.ingestexclude }} | {{ daemon_terminattr.cvvrf }} | {{ daemon_terminattr.disable_aaa | default (false) }} |
{% endfor %}


### TerminAttr Daemon Device Configuration

```eos
{% include 'eos/daemon-terminattr.j2' %}
```
{% endif %}
