{# eos - TerminAttr #}
{% if daemon_terminattr is arista.avd.defined %}
{%     set cvp_config = namespace() %}
!
daemon TerminAttr
{%     if daemon_terminattr.clusters | length > 1 %}
{%         set cvp_config.cli = "exec /usr/bin/TerminAttr" %}
{%         for cluster in daemon_terminattr.clusters %}
{%             set cvp_config.cli = cvp_config.cli ~  " -cvopt " ~ cluster.name ~ ".cvaddr=" ~ cluster.cvaddrs | join(',') %}
{%             if cluster.cvauth_key is arista.avd.defined %}
{%                 set cvp_config.cli = cvp_config.cli ~ " -cvopt " ~ cluster.name ~ ".cvauth=key," ~ cluster.cvauth_key %}
{%             elif cluster.cvauth_token_file is arista.avd.defined %}
{%                 set cvp_config.cli = cvp_config.cli ~ " -cvopt " ~ cluster.name ~ ".cvauth=token," ~ cluster.cvauth_token_file %}
{%             elif cluster.cvauth_token_secure_file is arista.avd.defined %}
{%                 set cvp_config.cli = cvp_config.cli ~ " -cvopt " ~ cluster.name ~ ".cvauth=token-secure," ~ cluster.cvauth_token_secure_file %}
{%             endif%}
{%         endfor %}
{%     elif daemon_terminattr.clusters | length == 1 %}
{%         set cvp_config.cli = "exec /usr/bin/TerminAttr -cvaddr=" ~ daemon_terminattr.clusters[0].cvaddrs | join(',') %}
{%         if daemon_terminattr.clusters[0].cvauth_key is arista.avd.defined %}
{%             set cvp_config.cli = cvp_config.cli ~ " -cvauth=key," ~ daemon_terminattr.clusters[0].cvauth_key %}
{%         elif daemon_terminattr.clusters[0].cvauth_token_file is arista.avd.defined %}
{%             set cvp_config.cli = cvp_config.cli ~ " -cvauth=token," ~ daemon_terminattr.clusters[0].cvauth_token_file %}
{%         elif daemon_terminattr.clusters[0].cvauth_token_secure_file is arista.avd.defined %}
{%             set cvp_config.cli = cvp_config.cli ~ " -cvauth=token-secure," ~ daemon_terminattr.clusters[0].cvauth_token_secure_file %}
{%         endif %}
{%     endif %}
{%     if daemon_terminattr.cvvrf is arista.avd.defined %}
{%         set cvp_config.cli = cvp_config.cli ~ " -cvvrf=" ~ daemon_terminattr.cvvrf %}
{%     endif%}
{%     if daemon_terminattr.cvsourceip is arista.avd.defined %}
{%         set cvp_config.cli = cvp_config.cli ~ " -cvsourceip=" ~ daemon_terminattr.cvsourceip %}
{%     endif%}
{%     if daemon_terminattr.cvgnmi is arista.avd.defined %}
{%         set cvp_config.cli = cvp_config.cli ~ " -cvgnmi" %}
{%     endif%}
{%     if daemon_terminattr.cvobscurekeyfile is true %}
{%         set cvp_config.cli = cvp_config.cli ~ " -cvobscurekeyfile" %}
{%     endif%}
{%     if daemon_terminattr.disable_aaa is true %}
{%         set cvp_config.cli = cvp_config.cli ~ " -disableaaa" %}
{%     endif%}
{%     if daemon_terminattr.cvproxy is arista.avd.defined %}
{%         set cvp_config.cli = cvp_config.cli ~ " -cvproxy=" ~ daemon_terminattr.cvproxy %}
{%     endif%}
{%     if daemon_terminattr.grpcaddr is arista.avd.defined %}
{%         set cvp_config.cli = cvp_config.cli ~ " -grpcaddr=" ~ daemon_terminattr.grpcaddr %}
{%     endif%}
{%     if daemon_terminattr.grpcreadonly is true %}
{%         set cvp_config.cli = cvp_config.cli ~ " -grpcreadonly" %}
{%     endif%}
{%     if daemon_terminattr.smashexcludes  %}
{%         set cvp_config.cli = cvp_config.cli ~ " -smashexcludes=" ~ daemon_terminattr.smashexcludes %}
{%     else %}
{%         set cvp_config.cli = cvp_config.cli ~ " -smashexcludes=" %}
{%     endif %}
{%     if daemon_terminattr.ingestexclude  %}
{%         set cvp_config.cli = cvp_config.cli ~ " -ingestexclude=" ~ daemon_terminattr.ingestexclude %}
{%     else %}
{%         set cvp_config.cli = cvp_config.cli ~ " -ingestexclude=" %}
{%     endif %}
{%     if daemon_terminattr.taillogs is arista.avd.defined  %}
{%         set cvp_config.cli = cvp_config.cli ~ " -taillogs=" ~ daemon_terminattr.taillogs %}
{%     else %}
{%         set cvp_config.cli = cvp_config.cli ~ " -taillogs" %}
{%     endif%}
   {{ cvp_config.cli }}
   no shutdown
{% endif%}


